# Ignore environment files
*.env
*.env.*
.env

venv/
.DS_Store
log/
logs/
outbound-trunk.json
__pycache__/
node_modules/
dist/
frontend/node_modules/*
*maqsam_inbound_*.txt
*s3_to_blob.py
*one_time_transfer.py
*.db*
lambda_function.py
