 :root {
  font-family: "Bricolage Grotesque";

  font-size: 10px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 2.5vh 2.5vh;
  font-family: "Bricolage Grotesque";
}

body * {
  font-family: "Bricolage Grotesque";
}